<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ article.title }}</title>
    <link rel="stylesheet" href="/researchrepository/constant/style/style.css">
</head>

<body>
    <header>
        <h1>AIIMS Research Publication Repository</h1>
        <div class="button">
            <a href="/researchrepository/login">Login</a>
        </div>
    </header>

    <div class="article">
        <h1>{{ article.title }}</h1>

        <div class="section">
            <h2>Abstract</h2>
            <p>{{ article.abstract }}</p>
        </div>

        <div class="section">
            <h2>Authors</h2>
            <ul class="authors">
                {% for author in article.authors %}
                <li>{{ author.fullName }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h2>Publication Details</h2>
            <p><strong>Journal:</strong> {{ article.journal }} ({{ article.journal_abrevated }})</p>
            <p><strong>Volume:</strong> {{ article.journal_volume }}, <strong>Issue:</strong> {{ article.journal_issue
                }}</p>
            <p><strong>Pages:</strong> {{ article.pages }}</p>
            <p><strong>Published Date:</strong> {{ article.publication_date }}</p>
            <p><strong>Print ISSN:</strong> {{ article.print_issn }}</p>
            <p><strong>Electronic ISSN:</strong> {{ article.electronic_issn or "N/A" }}</p>
            <p><strong>Place of Publication:</strong> {{ article.place_of_publication or "N/A" }}</p>
            <p><strong>PMC ID:</strong> {{ article.pmc_id or "N/A" }}</p>
            <p><strong>PubMed ID:</strong> {{ article.pubmed_id or "N/A" }}</p>
            <p><strong>PII:</strong> {{ article.pii or "N/A" }}</p>
        </div>

        <div class="section">
            <h2>Keywords</h2>
            <ul class="keywords">
                {% for keyword in article.keywords %}
                <li>{{ keyword.keyword }}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="section">
            <h2>DOI and Links</h2>
            <p><strong>DOI:</strong> <a href="https://doi.org/{{ article.doi }}" target="_blank" class="button">{{
                    article.doi }}</a></p>
            <p><strong>PubMed Link:</strong>

            <ul class="links">
                {% for link in article.links %}
                <li><a href="{{ link.link }}" target="_blank">link {{ loop.index }}</a></li>
                {% endfor %}
            </ul>

        </div>
    </div>

    <footer>
        <p>&copy; 2024 AIIMS Research Repository. All Rights Reserved.</p>
    </footer>

</body>

</html>