{% extends "base.html" %} 




{% block highwire %} 

 <meta name="citation_title" content="{{ article.title}}">


<meta name="citation_publication_date" content="{{ article.publication_date or '' }}">
<meta name="citation_journal_title" content="{{ article.journal or '' }}">
<meta name="citation_volume" content="{{ article.journal_volume or '' }}">
<meta name="citation_issue" content="{{ article.journal_issue or '' }}">
<meta name="citation_firstpage" content="{{ article.pages or '' }}">

<meta name="citation_doi" content="{{ article.doi }}"> 
<meta name="citation_pmid" content="{{ article.pubmed_id }}"> 
<meta name="citation_abstract" content="{{ article.abstract }}"> 



{% for author in article.authors %}
    <meta name="citation_author" content="{{ author.fullName }}">
{% endfor %}


{% endblock %}


{% block content %} 

{% if logged_in %}
<div
  class="fixed bottom-12 right-6 z-40 flex h-10 w-10 rounded-[50%] bg-[#007bff] text-center pt-1 pl-1"
>
      <a
        href="article/edit/{{ article.uuid }}"
        title="Edit Article"
      >
      <?xml version="1.0" encoding="utf-8"?><!-- Uploaded to: SVG Repo, www.svgrepo.com, Generator: SVG Repo Mixer Tools -->
    <svg 
      width="30px" 
      height="30px" 
      viewBox="0 0 24 24" 
      fill="none" xmlns="http://www.w3.org/2000/svg">
      <path 
          fill-rule="evenodd" 
          clip-rule="evenodd" 
          d="m3.99 16.854-1.314 3.504a.75.75 0 0 0 .966.965l3.503-1.314a3 3 0 0 0 1.068-.687L18.36 9.175s-.354-1.061-1.414-2.122c-1.06-1.06-2.122-1.414-2.122-1.414L4.677 15.786a3 3 0 0 0-.687 1.068zm12.249-12.63 1.383-1.383c.248-.248.579-.406.925-.348.487.08 1.232.322 1.934 1.025.703.703.945 1.447 1.025 1.934.058.346-.1.677-.348.925L19.774 7.76s-.353-1.06-1.414-2.12c-1.06-1.062-2.121-1.415-2.121-1.415z"
          fill="#000000"
        />
    </svg>
    <!-- <img
      src="{{url_for('static',filename='assets/logo/edit-svgrepo-com.svg')}}"
      alt="Icon"
      class="link-icon"
      style="width: 70%; height: auto; max-height: 100%"
    /> -->
  </a>
</div>
{% endif %}


<main id="article" class="container my-auto space-y-5">
  <h1 class="font-bold text-center text-3xl">{{ article.title }}</h1>

  <section class="section space-y-2">
    <h2 class="font-bold text-center text-2xl">Abstract</h2>
    <p class="text-justify">{{ article.abstract }}</p>
  </section>

  <div class="section">
    <h2 class="font-bold text-center text-2xl">Authors</h2>
    <ul class="authors grid grid-cols-3 lg:grid-cols-5 justify-stretch items-stretch gap-5">
      {% for author in article.authors %}
      <li
        class="relative m-auto mx-auto w-full rounded bg-slate-200 dark:bg-teal-900 px-2 py-3.5 text-center shadow hover:shadow-lg"
      >
        {% if author.employee_id %}
        <a
          href="author?q={{author.employee_id}}"
          target="_blank"
          ><h3 class="mb-1 text-xl font-bold">{{ author.fullName }}</h3></a
        >
        {% else %}

        <h3 class="mb-1 text-xl">{{ author.fullName }}</h3>

        {% endif %}

        {% if author.affiliations %}
        <div
          class="author-details absolute bottom-full left-1/2 z-[1] hidden w-52 rounded bg-white dark:bg-teal-900  p-3 text-left shadow-md"
        >
          <p class="mx-3 my-0 text-sm">
            <strong>Affiliation:</strong> {{ author.affiliations or "" }}
          </p>

        </div>
        {% endif%}



      </li>
      {% endfor %}
    </ul>
  </div>

  <section class="section space-y-2">
    <h2 class="font-bold pb-2 text-center text-2xl">Publication Details</h2>
   <a
        href="journal?q={{article.journal}}"
        target="_blank"
        >
        <span class="italic"> {{ article.journal or '' }} </span>
    </a>  
    {{ article.publication_date or '' }}.   
    {{ article.journal_volume or '' }}
    {% if article.journal_issue %}
    ({{ article.journal_issue }})
    {% endif %}
    : 
    {{ article.pages or '' }} 
  
        <p>                        
    {% if article.doi %}
  
    <strong>DOI: </strong><a href="https://doi.org/{{ article.doi }}" target="_blank">{{ article.doi }}</a>

    {% endif %}

    {% if article.pubmed_id %}
    &nbsp; PUBMED: <a href="https://pubmed.ncbi.nlm.nih.gov/{{ article.pubmed_id }}" target="_blank">{{
        article.pubmed_id or '' }}</a>
    {% endif %}

   &nbsp; <strong>PMC ID:</strong> {{ article.pmc_id or "N/A" }}
   &nbsp; <strong> PubMed ID:</strong> {{ article.pubmed_id or "N/A" }}</p>
  </section>

  <section class="section">
    <h2 class="font-bold text-center text-2xl">Keywords</h2>
    <ul class="mx-0 my-3 grid list-none grid-cols-3 lg:grid-cols-5 gap-3 p-4">
      {% for keyword in article.keywords %}
      <li
        class="cursor-pointer rounded  bg-white dark:bg-teal-900  px-2 py-3.5 text-center text-sm"
      >
        <a
          href="keyword?q={{keyword.keyword}}"
          target="_blank"
          >{{ keyword.keyword }}</a
        >
      </li>
      {% endfor %}
    </ul>
  </section>

       {% if article.links %}
  <section class="section">
    <h2 class="font-bold text-center text-2xl">Links</h2>

    <p><strong>Link:</strong></p>
    <ul class="mx-0 my-3 grid list-none grid-cols-10 gap-1 p-0">
      {% for link in article.links %}
      <a href="{{ link.link }}" target="_blank">
        <img
          src="{{url_for('static',filename='assets/logo/document-svgrepo-com.svg')}}"
          alt="Icon"
          class="mb-1.5 h-24 w-20 fill-white"
        />
      </a>
      {% endfor %}
    </ul>
  </section>
  {% endif %}
</main>
{% endblock %}
