<!doctype html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="{{ url_for('static', filename='assets/favicon.png', version=time) }}" />
    <link rel="stylesheet" href="{{url_for('static',filename='style/style.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='style/flowbite.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='style/toastify.css')}}">

    <link rel="stylesheet" href="{{url_for('static',filename='dist/css/output.css')}}">
    {% if title %}
    <title>{{ title }} - AIIMS Research Publication Repository</title>
    {% else %}
    <title>AIIMS Research Publication Repository </title>
    {% endif %}

    <script>
        // Set theme on HTML page load
        if (localStorage.getItem('theme') === 'dark') {
            document.getElementsByTagName('html')[0].classList.add("dark");
        }
    </script>

</head>



<body class="min-w-[470px] bg-slate-100 dark:bg-gray-800 text-stone-700 dark:text-teal-100">
    <header>
        <nav 
           class="px-4 py-2 md:py-0 content-center h-16  bg-slate-200 dark:bg-slate-700 text-gray-700 "
            id="navbarBgfullwidth">
            <div 
                class="container mx-auto flex w-full flex-wrap items-center justify-between"
                id="navbarContainedContent">
                <div 
                    class="flex items-center text-red-800 dark:text-teal-300" 
                    id="leftLogoTitle">
                    <div 
                        id="brandLogo" 
                        class=" mr-4 h-10 w-10">
                        {% include 'logosvg.html' %}
                    </div>
                    <div 
                        class="text-lg md:text-xl">AIIMS Research Publication Repository
                    </div>
                </div>
                <button 
                    id="mainSiteNavToggle" 
                    class="h-10 md:hidden text-red-800 dark:text-teal-300 "
                    aria-label="Main navigation" onclick="toggleHidden()">
                    <svg xmlns="http://www.w3.org/2000/svg" class="block h-6 w-6 cursor-pointer " fill="none"
                        viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M4 6h16M4 12h16M4 18h16"></path>
                    </svg>
                </button>

                <div 
                    id="mainSiteNav"
                    class="hidden 
                            fixed md:relative md:flex  
                            top-20 md:top-auto 
                            left-0 md:left-auto    
                            w-full md:w-auto  
                            h-screen md:h-auto
                            bg-slate-400/90 md:bg-transparent 
                            md:items-center "
                    aria-hidden="true">
                    <ul
                        class=" text-base text-right    
                                md:py-0 md:px-2 
                                text-gray-700 dark:text-teal-300 
                                md:flex gap-4 
                                md:h-full 
                                md:justify-between ">
                        <li>
                            <a class="block m-2 md:m-0 px-2  py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out "
                                href="/researchrepository/">Home</a>
                        </li>
                        <li>
                            <a class="block m-2 md:m-0 px-2  py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out "
                                href="/researchrepository/repository">Repository</a>
                        </li>
                        <li>
                            <a class="block m-2 md:m-0 px-2    py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out "
                                href="/about">About</a>
                        </li>
                        {% if logged_in %}

                        {% if logged_in %}
                        <li
                            class="group relative dropdown  block m-2 md:m-0 px-2    py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out tracking-wide">
                            <a>Duplicate</a>
                            <div class="group-hover:block dropdown-menu absolute hidden h-auto">

                                <ul class="top-0 w-56 bg-slate-400/90 md:items-center">
                                    <li class="py-1"><a
                                        href="/researchrepository/duplicate-by-title"
                                            class="block m-2 md:m-0 px-2 py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out">Duplicate
                                            by Title</a>
                                    </li>
                                    <li class="py-1"><a
                                        href="/researchrepository/duplicate-by-pubmed-id"
                                            class="block m-2 md:m-0 px-2 py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out">Duplicate
                                            by PubMed ID</a>
                                    </li>
                                    <li class="py-1"><a
                                        href="/researchrepository/duplicate-by-pmc-id"
                                            class="block m-2 md:m-0 px-2 py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out">Duplicate
                                            by PMC ID</a>
                                    </li>
                                    <li class="py-1"><a
                                        href="/researchrepository/duplicate-by-doi"
                                            class="block m-2 md:m-0 px-2 py-4 md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out">Duplicate
                                            by DOI</a>
                                    </li>
                                    
                                </ul>
                            </div>
                            {% endif%}

                            {% endif%}

                        <li>
                            {% if logged_in %}
                            <a class="block m-2 md:m-0 px-2   py-4  md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out "
                                href="#" onclick="logout()">Logout</a>
                            {% else %}
                            <a class="block m-2 md:m-0 px-2   py-4  md:py-2 md:px-4 hover:text-slate-200  hover:bg-gray-600 transition duration-300 ease-out hover:ease-in-out "
                                href="/researchrepository/login">Log In</a>

                            {% endif%}
                    </ul>
                </div>
            </div>
        </nav>
    </header>


    <main class="min-h-screen container mx-auto pt-4 px-4 ">


        {% block content %}


        {% endblock %}



    </main>



    <footer class=" p-2
    bg-slate-200 dark:bg-slate-700
    text-gray-700 dark:text-teal-300
     ">
        <div class="container mx-auto
    flex w-full flex-wrap items-center justify-between" id="footerContainedContent">

            <aside>
                <h2>
                    AIIMS Research Repository.
                    <br />
                    AIIMS New Delhi, (c) 2024
                    <br />
                    All Rights Reserved
                </h2>
            </aside>

            <nav>
                <h6 class="footer-title">Legal</h6>
                <a class="link link-hover">Terms of use</a>
                <a class="link link-hover">Privacy policy</a>
                <a class="link link-hover">Cookie policy</a>
            </nav>
            <nav>
                <h6 class="footer-title">Mode</h6>
                <button aria-label="toggle theme" onClick=toggle_theme()>
                    {% include 'sunicon.html' %}
                </button>
            </nav>
        </div>


    </footer>

</body>
<script src="{{url_for('static',filename='js/common.js')}}"></script>
<script src="{{url_for('static',filename='js/flowbite.min.js')}}"></script>
<script src="{{url_for('static',filename='js/toastify.js')}}"></script>

<script>
    const menu = document.getElementById('mainSiteNav');
    const menuButton = document.getElementById('mainSiteNavToggle');

    document.addEventListener('click', (event) => {
        if (!menu.contains(event.target) && !menuButton.contains(event.target)) {
            menu.classList.add('hidden');
        }
    });

    function toggleHidden() {
        menu.classList.toggle('hidden');
    }


    function toggle_theme() {
        let saved_theme = localStorage.getItem("theme");
        let prefersDarkMode = window.matchMedia("(prefers-color-scheme: dark)").matches;

        if (saved_theme == null) {
            console.log("No saved theme. Now set a theme opposite to system preference");
            let themeToSet = prefersDarkMode ? "light" : "dark";
            console.log("set theme to ", themeToSet);
            localStorage.setItem("theme", themeToSet);
            if (themeToSet === "dark") {
                document.getElementsByTagName('html')[0].classList.add("dark");
                console.log("Added Class  ", themeToSet);
            }
            else {
                document.getElementsByTagName('html')[0].classList.remove("dark");
                console.log("Removed Class  ", "dark");
            }
        }

        else {
            let themeToSet = saved_theme === "dark" ? "light" : "dark";
            console.log("saved theme -- ", saved_theme, "--Now set a theme opposite to saved theme preference--", themeToSet);
            localStorage.setItem("theme", themeToSet);

            if (themeToSet === "dark") {
                document.getElementsByTagName('html')[0].classList.add("dark");
                console.log("Added Class  ", themeToSet);
            }
            else {
                document.getElementsByTagName('html')[0].classList.remove("dark");
                console.log("Removed Class  ", "Dark");
            }
        }

    }
</script>


</html>