<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIIMS Research Publication Repository</title>
    <link rel="stylesheet" href="/researchrepository/constant/style/style.css">
    <link rel="preload" href="/researchrepository/constant/style/style.css" as="style"
        onload="this.onload=null;this.rel='stylesheet'">
</head>

<body>
    <header>
        <h1>AIIMS Research Publication Repository</h1>
        <div class="button">
            <a href="../researchrepository/api/auth/logout">Logout</a>
        </div>
    </header>

    <div class="container">
        <div class="upload-section">
            <h3>Upload .ris File</h3>
            <form id="uploadForm" enctype="multipart/form-data">
                <input type="file" id="file" name="file" accept=".ris" required>
                <button type="button" onclick="uploadrisFile()">Upload</button>
            </form>
            <p id="message"></p>
        </div>
        <div class="upload-section">
            <h3>Upload .nbib File</h3>
            <form id="uploadForm-nbib" enctype="multipart/form-data">
                <input type="file" id="file" name="file" accept=".nbib" required>
                <button type="button" onclick="uploadnbibFile()">Upload</button>
            </form>
            <p id="message1"></p>
        </div>

        <div class="upload-section">

            <form id="pubmed-form" action="../researchrepository/api/public/pubmedFectch" method="post"
                onsubmit="submitForm(event)">
                <input type="text" name="pmid" placeholder="Enter Pubmed ID" required>
                <div class="captcha-box">
                    <div id="captchaCode" class="captcha-code"></div>
                    <button type="button" class="refresh-btn" onclick="generateCaptcha('captchaCode')">⟳</button>
                </div>
                <input type="text" name="captcha" placeholder="Enter CAPTCHA" required>
                <button type="submit">Submit</button>
            </form>

        </div>
    </div>

    <footer>
        <p>&copy; 2024 AIIMS Research Repository. All Rights Reserved.</p>
    </footer>

    <script src="/researchrepository/constant/js/home.js"></script>

</body>

</html>