<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AIIMS Research Publication Repository</title>
    <link rel="stylesheet" href="/researchrepository/constant/style/style.css">

</head>

<body>

    <header>
        <h1>AIIMS Research Publication Repository</h1>
        <div class="button">
            <a href="/researchrepository/login">Login</a>
        </div>

    </header>

    <div class="container">
        <div class="intro">
            <h2>Welcome to the AIIMS Research Publication Repository</h2>
            <p>
                Explore, discover, and share research findings across the AIIMS community. Our repository aims to
                provide easy access to a wealth of research articles, publications, and assets contributed by experts
                and scholars from AIIMS. Stay connected with the latest advancements in healthcare and medical science.
            </p>
            <div class="button">
                <a href="/repository">Browse the Repository</a>
            </div>
        </div>

        <!-- File Upload Section -->


        <div class="features">
            <div class="feature">
                <h3>Explore Research</h3>
                <p>Browse through a vast collection of peer-reviewed articles, journals, and more.</p>
            </div>
            <div class="feature">
                <h3>Contribute Your Work</h3>
                <p>Submit your own research papers and articles for inclusion in the repository.</p>
            </div>
            <div class="feature">
                <h3>Collaborate & Share</h3>
                <p>Connect with other researchers and work together on groundbreaking projects.</p>
            </div>
        </div>
    </div>

    <footer>
        <p>&copy; 2024 AIIMS Research Repository. All Rights Reserved.</p>
    </footer>


</body>

</html>