{% extends "base.html" %} {% block content %}

<section class="mx-auto flex w-3/4 flex-col items-center gap-4 rounded-md p-4">
  <div class="p-2 text-center text-4xl font-bold">
    Welcome to AIIMS <br />
    Research Publication Repository
  </div>
  <div class="p-2">
    Explore, discover, and share research findings across the AIIMS community.
    Our repository aims to provide easy access to a wealth of research articles,
    publications, and assets contributed by experts and scholars from AIIMS.
    Stay connected with the latest advancements in healthcare and medical
    science.
  </div>
  <button
    class="button rounded-lg bg-teal-800 p-4 px-8 font-semibold text-white"
  >
    <a href="/repository">Browse the Repository</a>
  </button>
</section>

<section class="mb-10 flex w-full flex-col rounded-md p-5 text-center">
  <div class="flex flex-col justify-center items-center lg:flex-row  gap-5 p-5" id="stats">
    <div
      class="w-3/4 lg:w-1/4 grow content-center rounded-lg border bg-teal-700 p-2 md:p-4 text-teal-100 shadow-md duration-100 ease-in hover:bg-teal-900 hover:text-teal-100 dark:border-gray-300"
      id="Totals"
    >
      <div class="text-center text-lg">Articles</div>
      <div class="text-center text-5xl" id="article_count"></div>
    </div>

    <div
      class="w-3/4 lg:w-1/4 grow content-center rounded-lg border bg-teal-700 p-2 md:p-4 text-teal-100 shadow-md duration-100 ease-in hover:bg-teal-900 hover:text-teal-100 dark:border-gray-300"
      id="views"
    >
      <div class="text-center">Views</div>
      <div class="text-center text-5xl" id="article_view_count"></div>
    </div>

    <div class="w-full lg:w-1/2 grow rounded-lg bg-green-900" id="Graphical">
      <div class="rounded-lg bg-white p-2 shadow dark:bg-gray-800">
        <div class="flex flex-row justify-between">
          <div>
            <h5
              id="article_current_count"
              class="pb-1 text-3xl font-bold leading-none text-gray-900 dark:text-white"
            ></h5>
            <p class="text-base font-normal text-gray-500 dark:text-gray-400">
              Articles Published This Year
            </p>
          </div>
        
        </div>
        <div id="area-chart" class="h-48 w-full"></div>
      </div>
    </div>
  </div>

  <div class="flex flex-col items-center pt-4">
    <div class="text-center text-4xl font-bold">Recent Publications</div>
      <ul id="recent_articles" class="flex flex-col items-stretch" ></ul>
  </div>

  <div class="m-2 flex flex-col items-center p-4">
    <div class="p-4 text-center text-4xl font-bold">Keywords</div>
    <div id="my_dataviz" class="px-4 rounded-lg border shadow-lg"></div>
  </div>
</section>

<div class="flex flex-col items-center justify-center md:flex-row md:items-stretch gap-5 pb-10" id="cards_home">
  <div
    class="flex w-3/4 md:w-1/3 grow flex-col items-center rounded-lg border bg-teal-700 p-6 text-teal-100 shadow-md duration-100 ease-in hover:bg-teal-900 hover:text-teal-100 dark:border-gray-300"
  >
    <div class="pb-4 text-xl font-bold">Explore Research</div>
    <div>
      Browse through a vast collection of peer-reviewed articles, journals, and
      more.
    </div>
  </div>
  <div
    class="flex h-full w-3/4 md:w-1/3 grow flex-col items-center rounded-lg border bg-teal-700 p-6 text-teal-100 shadow-md duration-100 ease-in hover:bg-teal-900 hover:text-teal-100 dark:border-gray-300"
  >
    <div class="pb-4 text-xl font-bold">
      <h3>Contribute Your Work</h3>
    </div>
    <p>
      Submit your own research papers and articles for inclusion in the
      repository.
    </p>
  </div>
  <div
    class="flex h-full w-3/4 md:w-1/3 grow flex-col items-center rounded-lg border bg-teal-700 p-6 text-teal-100 shadow-md duration-100 ease-in hover:bg-teal-900 hover:text-teal-100 dark:border-gray-300"
  >
    <div class="pb-4 text-xl font-bold">Collaborate & Share</div>
    <p>
      Connect with other researchers and work together on groundbreaking
      projects.
    </p>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<script src="https://d3js.org/d3.v4.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
<script src="{{url_for('static',filename='js/index.js')}}"></script>
{% endblock %}
