<div class="pagination flex flex-row align-middle items-center gap-2 m-4">
    <!-- First button -->
    <button 
        type="button" 
        {% if current_page <= 1 %}
            disabled
            class="bg-blue-500 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md rounded opacity-50 cursor-not-allowed"
        {% else %}
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md border border-blue-700 rounded"
        {% endif %}
        onclick="navigateToPage(1, '{{ entry | safe }}', {{ total_pages }})">
        First
    </button>

    <!-- Previous button -->
    <button 
        type="button"
        {% if current_page <= 1 %}
            disabled
            class="bg-blue-500 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md rounded opacity-50 cursor-not-allowed"
        {% else %}
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md border border-blue-700 rounded"
        {% endif %}
        onclick="navigateToPage({{ current_page - 1 }}, '{{ entry | safe }}', {{ total_pages }})">
        Previous
    </button>

    <!-- Page info -->
    <div id="page-info" class="flex items-center justify-center">
        Page &nbsp;
        <input 
            id="page-number" 
            type="text" 
            min="1" 
            max="{{ total_pages }}" 
            value="{{ current_page }}"
            placeholder="Page" 
            class="w-16 p-2 border rounded text-center focus:outline-none focus:ring-2 focus:ring-blue-500"
            oninput="this.value = Math.min(Math.max(this.value, 1), {{ total_pages }});" 
            onblur="jumpToPage(this.value, '{{ entry | safe }}', {{ total_pages }})"
        /> &nbsp;
        of {{ total_pages }}
    </div>

    <!-- Next button -->
    <button 
        type="button"
        {% if current_page >= total_pages %}
            disabled
            class="bg-blue-500 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md rounded opacity-50 cursor-not-allowed"
        {% else %}
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md border border-blue-700 rounded"
        {% endif %}
        onclick="navigateToPage({{ current_page + 1 }}, '{{ entry | safe }}', {{ total_pages }})">
        Next
    </button>

    <!-- Last button -->
    <button 
        type="button"
        {% if current_page >= total_pages %}
            disabled
            class="bg-blue-500 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md rounded opacity-50 cursor-not-allowed"
        {% else %}
            class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-2 text-sm xl:px-4 xl:text-md border border-blue-700 rounded"
        {% endif %}
        onclick="navigateToPage({{ total_pages }}, '{{ entry | safe }}', {{ total_pages }})">
        Last
    </button>
</div>
