{% extends "base.html" %} {% block content %}
<h2 class="text-center text-5xl font-bold">Repository Browser</h2>
{% include 'pagination.html' %}

<div class="text-center text-xl font-bold">
  <span>
    {% set string1 = (current_page-1) * entry +1 %} {% set string2 = string1 +
    articles|length - 1 %} Showing records from {{ string1 }} to {{ string2 }}
  </span>
</div>
<section class="container mx-auto flex flex-col justify-center">
{% include 'article_list.html' %}

</section>

{% include 'pagination.html' %}

<script src="{{url_for('static',filename='js/repository.js')}}"></script>
{% endblock %}
